{% extends 'adminindex.html' %}

{% block content %}



    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-6">
            
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Recipe Details</h3>
              </div>
            
              <form action="{% url 'sdata' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Recipe Name:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter the recipe name" name="recipename">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Recipie Ingredients:</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter the recipe ingredients" name="recipeingredients">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Recipie Price:</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter the price" name="recipeprice">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">Image input</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile" name="img">
                        <label class="custom-file-label" for="exampleInputFile">Choose image</label>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            
            </div>
            
          </div>
          
        </div>
      </div>
    </section>
   

{% endblock %}
